<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>florian.shows</string>
	<key>connections</key>
	<dict>
		<key>4CBC3588-95E2-415E-9838-1E913FD51980</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBA63DBB-444B-46FE-9D20-370FFA23989A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FBA63DBB-444B-46FE-9D20-370FFA23989A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B54E9934-471D-482F-9491-17A3D2E5BCB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4A230223-7330-4A5A-AA51-3345AD645318</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>53C2BB90-C486-4053-BA3A-952489970792</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Florian Pellet</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TV Show Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>./handler.sh "{query}"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B54E9934-471D-482F-9491-17A3D2E5BCB5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>./cmd_handler.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A230223-7330-4A5A-AA51-3345AD645318</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>shows</string>
				<key>runningsubtext</key>
				<string>Loading data for ‘{query}’</string>
				<key>script</key>
				<string>./launcher.sh "{query}"
</string>
				<key>title</key>
				<string>TV Shows streamer</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FBA63DBB-444B-46FE-9D20-370FFA23989A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4CBC3588-95E2-415E-9838-1E913FD51980</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>53C2BB90-C486-4053-BA3A-952489970792</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4A230223-7330-4A5A-AA51-3345AD645318</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4CBC3588-95E2-415E-9838-1E913FD51980</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>53C2BB90-C486-4053-BA3A-952489970792</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>B54E9934-471D-482F-9491-17A3D2E5BCB5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FBA63DBB-444B-46FE-9D20-370FFA23989A</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>florianpellet.com</string>
</dict>
</plist>
